<% if current_user %>
<ul>
  <li> First Name: <%= current_user.first_name %> </li>
  <li> Last Name: <%= current_user.last_name %> </li>
  <li> Email: <%= current_user.email %> </li>
</ul>
<%= link_to "Logout", logout_path %>
<% end %>
