---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=20&location=17th%20St%20LL100%20Denver%20CO%2080202&radius=1609&sort_by=distance&term=restaurant
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer it_9P6D7JXvg6iOWSQ4sisZ0GOW2_VCJFM7eLTq6S7aMsuQ18SYFqR6bioOUXfv6l7pnvHOMpftnZNWtuKtcjpsYAMkxUKuJVUehQwIPM5d9ZBNOX5mWAv5vl9IaXHYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4065'
      Ratelimit-Resettime:
      - '2018-12-22T00:00:00+00:00'
      X-Proxied:
      - 10-69-90-16-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "cL8rbKfItlQOoFzLIQAsdA", "alias": "stack-subs-lodo-denver",
        "name": "STACK Subs LoDo", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/rb3Nq7iNSLUcDYaNqd1i_A/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/stack-subs-lodo-denver?adjust_creative=IBWCu4l3JaivaTeBveC9bg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=IBWCu4l3JaivaTeBveC9bg",
        "review_count": 20, "categories": [{"alias": "sandwiches", "title": "Sandwiches"},
        {"alias": "coffee", "title": "Coffee & Tea"}, {"alias": "breakfast_brunch",
        "title": "Breakfast & Brunch"}], "rating": 4.5, "coordinates": {"latitude":
        39.75077, "longitude": -104.99645}, "transactions": ["delivery", "pickup"],
        "location": {"address1": "1331 17th St", "address2": "", "address3": null,
        "city": "Denver", "zip_code": "80202", "country": "US", "state": "CO", "display_address":
        ["1331 17th St", "Denver, CO 80202"]}, "phone": "+13032957827", "display_phone":
        "(303) 295-7827", "distance": 21.501846067367165}, {"id": "eaVcCJO5OmBhAv-kJRpWRg",
        "alias": "the-delectable-egg-denver-denver", "name": "The Delectable Egg-Denver",
        "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/ftIQr9MZOZoyPvIjeoapUA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/the-delectable-egg-denver-denver?adjust_creative=IBWCu4l3JaivaTeBveC9bg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=IBWCu4l3JaivaTeBveC9bg",
        "review_count": 302, "categories": [{"alias": "coffee", "title": "Coffee &
        Tea"}, {"alias": "burgers", "title": "Burgers"}, {"alias": "sandwiches", "title":
        "Sandwiches"}], "rating": 4.0, "coordinates": {"latitude": 39.7503656, "longitude":
        -104.997457}, "transactions": [], "price": "$$", "location": {"address1":
        "1642 Market St", "address2": "", "address3": "", "city": "Denver", "zip_code":
        "80202", "country": "US", "state": "CO", "display_address": ["1642 Market
        St", "Denver, CO 80202"]}, "phone": "+13035728146", "display_phone": "(303)
        572-8146", "distance": 78.43136180750689}, {"id": "us9NRKZDQZH0iKgEmdhbJQ",
        "alias": "erbert-and-gerberts-denver", "name": "Erbert & Gerbert''s", "image_url":
        "https://s3-media3.fl.yelpcdn.c[...]
[...]
