<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="logo">
    <%= image_tag("logo.png") %>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item">
    <% if current_user %>
      <a class="nav-link" href="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/wishlist">Wishlist</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/visited">Visited</a>
    </li>
      <% if current_user.main_address %>
        <li class="nav-item">
          <a class="nav-link" href=<%=matches_path(location: current_user.build_address)%>>Default Location</a>
        </li>
      <% end %>
    <% end %>
  </ul>
</nav>
