

<div class='nav'>

  <% if current_user %>
    <span class='favorites' >
      <%= link_to "Dashboard", dashboard_path %>
      <%= link_to "Wishlist", wishlist_path %>
      <%= link_to "Visited", '/visited' %> 
      <!-- < %= link_to "Recent Matches", matches_path %> -->
    </span>
    <span class="address-options">
      <%= link_to "Default Location", matches_path(location: current_user.build_address) if current_user.main_address%>
      <!-- < %= link_to "Explore",          matches_path(address: "explore") %> -->
      <!-- < %= link_to "Current Location",          matches_path(address: "explore") %> -->
    </span>
    <span class='logout'>
      <!-- < %= link_to "Logout", logout_path %> -->
    </span>
  <% end %>

</div>
