<html>
  <head>
  </head>
  <body>
    <div class='jumbotron'>
      <div class='container'>
        <h1> Pitcher </h1>
        <% if current_user %>
        <%= "#{current_user.first_name} #{current_user.last_name}" %></h3>
          <%= link_to "Logout", logout_path %>
        <% else %>
          <button class="loginBtn loginBtn--google">
            <a class="google_login" href="/auth/google_oauth2"> Login with Google </a>
          </button>
        <% end %>
      </div>
    </div>
  </body>
</html>
