<% if @wishlist.empty? %>

  <h2>You don't have any recommended restaurants yet.</h2>

<% else %>

  <h2>These are all the restaurants you've been interested in from the past.</h2>

  <ul class="wishlists">
    <% @wishlist.each do |wishlist| %>
      <li class="restaurant"><%= wishlist.restaurant_id %></li>
    <% end %>
  </ul>

<% end %>