#map {
  height: 400px;
  width: 100%;
  background-color: grey;
 }

 .user-info {
  left: 300px;
  top: 150px;
  width: calc(100% - 350px);
 }

 .float-right {
   position: absolute;
   right: 0;
   margin-right: 12px;
 }

 .nav-user-name {
   margin-top: 8px;
   color: lightgray;
 }
