.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 99;
}

nav.nav {
  background-color: black;
  height: 116px;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  text-align: right;
}

a {
  white-space: nowrap;
  padding: 10px;
}

div > img {
  width: 100px;
  margin-right: 20px;
}
