nav.nav {
  background-color: black;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  text-align: right;
}

a {
  white-space: nowrap;
  padding: 10px;
}

div > img {
  width: 100px;
  margin-right: 20px;
}
